<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>layui-javaweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.sxh.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.sxh.controller.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>com.sxh.controller.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/CheckLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectAllTeacher</servlet-name>
    <servlet-class>com.sxh.controller.SelectAllTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectAllTeacher</servlet-name>
    <url-pattern>/SelectAllTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditTeacher</servlet-name>
    <servlet-class>com.sxh.controller.EditTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTeacher</servlet-name>
    <url-pattern>/EditTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminFormServlet</servlet-name>
    <servlet-class>com.sxh.view.AdminFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFormServlet</servlet-name>
    <url-pattern>/AdminFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentFormServlet</servlet-name>
    <servlet-class>com.sxh.view.StudentFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentFormServlet</servlet-name>
    <url-pattern>/StudentFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherFormServlet</servlet-name>
    <servlet-class>com.sxh.view.TeacherFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherFormServlet</servlet-name>
    <url-pattern>/TeacherFormServlet</url-pattern>
  </servlet-mapping>
</web-app>